.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  color: #000;
}
.up-page {
  display: flex;
}
.nav-buttons {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.main-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}
button:hover {
  background-color: #2196f3;
  color: #ffff;
}
.images {
  list-style-type: none;
}
.img-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.team {
  list-style-type: none;
}
.lorems {
  text-decoration: none;
}
